body {
  margin: 0;
  text-align: center;
}

h1 {
  font-size: 3.125rem;
  margin-top: 50px auto 0 auto;
}

h2 {
  font-size: 1.5625rem;
}

.top-container {
  background-color: #dbe2ef;
  position: relative;
  padding-top: 100px;
}

.top-cloud {
  position: absolute;
  right: 400px;
  top: 50px;
}

.bottom-cloud {
  position: absolute;
  left: 400px;
  bottom: 300px;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 1.5;
}

.html-logo {
 width: 9.355rem;
 height: 9.355rem;
 float: left;
 margin-right: 10px;
}

.css-logo {
  height: 9.355rem;
  width: 9.355rem;
  float: left;
  margin-right: 10px;
}

.javascript-logo {
  height: 9.355rem;
  width: 9.355rem;
  float: left;
  margin-right: 10px;

}
